
#a3{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 450px;
    left: 100x;
}
#a2{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 450px;
    left: 300px;
}
#a1{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 450px;
    left: 600px;
}


